/* header */
.wrap {
    margin: 4em 6em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    color: #606060;
    font-weight: Bolder;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.pages {
    display: flex;
    flex-direction: row;
}

.nav {
    color: #606060;
    font-weight: initial;
    font-size: .75em;
    letter-spacing: .25em;
}

#work {
    margin-right: 5em;
}

#about-me {
    margin-right: 5em;
}


a:link {
    text-decoration: none;
}

a:hover {
    color: #71cbd3;
    font-weight: bolder;
}

/* body */

#hello {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #71cbd3;
    letter-spacing: .25em;
    font-size: 35px;
    text-align: left;
    margin: 2em auto;
    width: 60%;
    margin-bottom: .5em;
    
}

#mission {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #606060;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: .2em;
    line-height: 1.5em;
    text-align: left;
    margin: 1em auto;
    width: 60%;
    margin-bottom: 5em;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: .2em;
}

.job {
    width: 50%;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: .2em;
}

.set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: .2em;
    width: 50%;
}

.set p {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #606060;
    font-weight: initial;
    font-size: 15px;
    margin-bottom: .75em;
    margin-right: 1.25em;
}

.education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: .2em;
}

.school {
    width: 50%;
}


h3 {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #71cbd3;
    font-size: 20px;
    margin-right: 3em;
}

h4 {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #606060;
    font-weight: initial;
    font-size: 17px;
    margin-bottom: .75em;
}

h5 {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #606060;
    margin: 0;
    margin-bottom: 1em;
}

.jobdes {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #606060;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 3em;
}

.affiliations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: .2em;
}

.groups {
    width: 50%;
}


body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}



/* footer*/

.main-footer {
    background: rgba(113, 203, 211, .5);
    color: #606060;

    padding: 2em;
    margin: 0;
    text-align: center;
}

.wrap {
    min-height: calc(100vh - 114.73px); 
}

