/* list items */

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* list items */

.main-header {
    background: #e7e7e7;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

body {
    line-height: 1.6;
    background: #f8f8f8;
    color: #606060;
}

.creative {
    color: #71cbd3;
    font-family: Helvetica;
    font-size: 2em;
}

.designer {
    color: #606060;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1em
}

.main-nav li a {
    color: #606060;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1em
}


