/* header */
.wrap {
    margin: 4em 6em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    color: #606060;
    font-weight: Bolder;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.pages {
    display: flex;
    flex-direction: row;
}

.nav {
    color: #606060;
    font-weight: initial;
    font-size: .75em;
    letter-spacing: .25em;
}

#work {
    margin-right: 5em;
}

#about-me {
    margin-right: 5em;
}


a:link {
    text-decoration: none;
}

a:hover {
    color: #71cbd3;
    font-weight: bolder;
}


/* body */

.creative {
    display: flex;
    flex-direction: column;
    color: #71cbd3;
    font-size: 60px;
    letter-spacing: .1em;
    line-height: 1em;
    margin-top: 1.5em;
    font-weight: bolder;
    margin-left: -.05em;
}

.designer {
    color: #606060;
    font-weight: lighter;
    font-size: 1.25em;
    letter-spacing: .2em;
    margin-top: 2em;
}

img {
    margin-top: 5em;
    width: .5in;
}


body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}



/* footer*/

.main-footer {
    background: rgba(113, 203, 211, .5);
    color: #606060;

    padding: 2em;
    margin: 0;
    text-align: center;
}

.wrap {
    min-height: calc(100vh - 114.73px); 
}