/* list items */

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* list items */

.main-header {
    background: #f9f9f9;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

body {
    line-height: 1.6;
    color: #3a3a3a;
}

.creative {
    color: #baedff;
    font-family: Helvetica;
    font-size: 2.5em;
}

.designer {
    color: #3a3a3a;
    font-family: Helvetica;
    font-size: 1em
}
