/* list items */

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* list items */

body {
    line-height: 1.6;
    color: tomato;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}