/* header */
.wrap {
    margin: 4em 6em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    color: #606060;
    font-weight: Bolder;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.pages {
    display: flex;
    flex-direction: row;
}

.nav {
    color: #606060;
    font-weight: initial;
    font-size: .75em;
    letter-spacing: .25em;
}

#work {
    margin-right: 5em;
}

#about-me {
    margin-right: 5em;
}


a:link {
    text-decoration: none;
}

a:hover {
    color: #71cbd3;
    font-weight: bolder;
}


/* body */

#quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 125px;
}

.quotation {
    width: .20in;
    margin: 0in .1in;
}

#mission {
    font-size: 28px;
    font-weight: lighter;
    color: #606060;
}


#oasis {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mella {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#maple-syrup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description {
    margin-top: 45px;
    margin-left: 25px;
    width: 3in;
}

.product {
    font-size: 25px;
    color: #71cbd3;
    font-weight: lighter;
}

.product-description {
    font-size: 15px;
    color: #606060;
    margin-top: 10px;
}

.detail {
    font-size: 15px;
    color: #606060;
    font-weight: lighter;
    margin-top: 10px;
}

.vp {
    display: flex;
    flex-direction: row;
}

.view {
    font-size: 15px;
    color: #71cbd3;
    margin-top: 10px;
    margin-right: 10px;
}

.view-arrow {
    transform: rotate(-90deg);
    width: 12px;
    margin-top: 13px;
}

.image {
    height: 3.5in;
    margin-top: 3em;
    margin-bottom: 3em;
}


body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}



/* footer*/

.main-footer {
    background: rgba(113, 203, 211, .5);
    color: #606060;

    padding: 2em;
    margin: 0;
    text-align: center;
}

.wrap {
    min-height: calc(100vh - 114.73px); 
}