/* header */

h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    color: #606060;
    font-weight: lighter;
    width: 100%;
    margin-left: 1em;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

h1 a {
    text-decoration: none;
    color: #606060;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

li a {
    color: #606060;
    font-weight: initial;
    font-size: 1em;
    letter-spacing: .25em;
    display: inline-block;
    white-space: nowrap;
    margin-right: 5em;
    padding: 1.5em;
}


a:link {
    text-decoration: none;
}


@keyframes example {
    from {background-color: #e7e7e7;}
    to {background-color: #f8f8f8;}
}

li a:hover {
    animation-name: example;
    animation-duration: 4s;
    background-color: #f8f8f8;
    color: #71cbd3;
}


/* body */

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    height: 2in;
    padding: 3em 1em;
}


body {
    background: #f8f8f8;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}



/* footer*/

.main-footer {
    background: rgba(113, 203, 211, .5);
    color: #606060;

    padding: 2em;
    margin: 0;
    text-align: center;
}

.wrap {
    min-height: calc(100vh - 114.73px); 
}