/* header */

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 6em;
}

.name {
    color: #606060;
    font-weight: Bolder;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.pages {
    display: flex;
    flex-direction: row;
}

.nav {
    color: #606060;
    font-weight: initial;
    font-size: .75em;
    letter-spacing: .25em;
}

#work {
    margin-right: 5em;
}

#about-me {
    margin-right: 5em;
}


a:link {
    text-decoration: none;
}

a:hover {
    color: #71cbd3;
    font-weight: bolder;
}


/* body */

.projects {
    background-color: #f6f6f6;
}

#oasis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 6em;
}

#mella {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 6em;
}

#maple-syrup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 6em;
}

.image {
    height: 3.5in;
    margin-top: 3em;
    margin-bottom: 3em;
    z-index: 1; 
    position: relative;
}

.description {
    justify-content: flex-end;
    background-color: #ffffff;
    margin-top: 7.5em;
    margin-left: 4.25in;
    height: 2in;
    width: 5.5in;
    z-index: 2; 
    position: absolute; 
    opacity: .75;   
}


body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}



/* footer*/

.main-footer {
    background: rgba(113, 203, 211, .5);
    color: #606060;

    padding: 2em;
    margin: 0;
    text-align: center;
}

.wrap {
    min-height: calc(100vh - 114.73px); 
}